<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> JDL Heat Map </title>
    <link rel="shortcut icon" href="{{ url_for('.static',filename='favicon.ico') }}" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <style>
    body > div > table > tbody > tr:nth-child(2){
      font-size: 1.5em;
      background: #9f9;
    }
    #about_timer{
      font-size: 1em;
    }

    </style>
    <script>
     var count = 120;
     $(function(){

        $("#about_timer").val( count );
        $(document).keypress(function(e){
            console.info(e);
              if(e.code === "Digit1" || e.code==="Numpad1"){ startRace() };
              if(e.code === "Digit2" || e.code==="Numpad2"){ window.location.href = "/{{ data.prev }}"; }
              if(e.code === "Digit3" || e.code==="Numpad3"){ window.location.href = "/{{ data.next }}"; }
          });
        $("#btn_start").on("click", function(){ startRace() });
        $("#btn_prev").on("click", function(){ console.info("btn prev"); window.location.href = "/{{ data.prev }}"; });
        $("#btn_next").on("click", function(){ nextHeat()  });
    });

    function nextHeat(){
      //clearInterval(counter);
      console.info("btn next");
      window.location.href = "/{{ data.next }}";
    }

    function startRace(){
      counter=setInterval(timer, 1000); //1000 will  run it every 1 second
      console.info("start timer");
      timer();
      setTimeout(nextHeat, count * 1000, "nextHeat");
      $.get("/api/start");
    }


    function timer(){
      count = count - 1;
      if (count <= 0)
      {
         clearInterval(counter);
         return;
      }
     $("#about_timer").val( count); // watch for spelling
    }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">JDL 2019 </h3>
      </div>
      <p>
      <table class="table">
          <thead>
              <tr>
                <th>Heat</th>
                <th>Class</th>
                <th>E1: 5705</th>
                <th>F1: 5740</th>
                <th>F4: 5800</th>
              </tr>
          </thead>
          <tbody>
              {% for data in data.heats %}
              <tr>
                <td>{{ data.heat }}</td>
                <th>{{ data.class }}</th>
                <td>{{data.E1}}</td>
                  <td>{{data.F1}}</td>
                <td>{{data.F4}}</td>
              </tr>
             {% endfor %}
          </tbody>
      </table>

      </p>
      <hr>
        <p>
        <button classx="btn btn-lg" id="btn_start">スタート音 (1)</button>
        <button classx="btn btn-lg" id="btn_prev" >前のヒート(2)</button>
        <button classx="btn btn-lg" id="btn_next" >次のヒート(3)</button>
        <br>
        <input type=text id="about_timer">sec
        </p>
      </div>

    </div>


  </body>
</html>
