<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> JDL Heat Map </title>
    <link rel="shortcut icon" href="{{ url_for('.static',filename='favicon.ico') }}" />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
    body > div > table > tbody > tr:nth-child(2){
      font-size: 1.5em;
      background: #9f9;
    }
    #about_timer{
      font-size: 1em;
    }

    </style>
    <script>
     var count = 120;
     $(function(){
        $("#about_timer").val( count );
        $(document).keypress(function(e){
    });

        function update_heat(){
        //clearInterval(counter);
        $.ajax({
          type: 'GET',
          url: '/api/get_cur_heat',
          cache: false,
          success: function(json){

                     window.location.href = "/";
                                 }
           })
    }

    function startRace(){
      counter=setInterval(timer, 1000); //1000 will  run it every 1 second
      console.info("start timer");
      timer();
      setTimeout(nextHeat, count * 1000, "nextHeat");
      $.get("/api/start");
    }


    function timer(){
      count = count - 1;
      if (count <= 0)
      {
         clearInterval(counter);
         return;
      }
     $("#about_timer").val( count); // watch for spelling
    }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">JDL 2019 </h3>
      </div>
      <p>
      <table class="table">
          <thead>
              <tr>
                <th>Heat</th>
                <th>Class</th>
                <th>E1: 5705</th>
                <th>F1: 5740</th>
                <th>F4: 5800</th>
              </tr>
          </thead>
          <tbody>
              {% for data in data.heats %}
              <tr>
                <td>{{ data.heat }}</td>
                <th>{{ data.class }}</th>
                <td>{{data.E1}}</td>
                  <td>{{data.F1}}</td>
                <td>{{data.F4}}</td>
              </tr>
             {% endfor %}
          </tbody>
      </table>

      </p>
      <hr>
        <input type=text id="about_timer">sec
      </p>
      </div>

    </div>


  </body>
</html>
